<?xml version='1.0' encoding='utf-8'?>
<widget id="com.iecas.geovis" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>GeoVis</name>
    <description>
        三维地球手持端通信应用
    </description>
    <author email="1205586003@qq.com" href="http://cordova.io">
       IECAS
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <preference name="AndroidPersistentFileLocation" value="Internal" />
        <!-- <preference name="AndroidPersistentFileLocation" value="Compatibility" /> -->
        <custom-preference name="android-manifest/application/activity/@android:name" value=".MyActivity" />
        <allow-intent href="market:*" />
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <!-- 再次允许明文通信 -->
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <icon src="res/screen/android/logo.png" density="ldpi" />
        <icon src="res/screen/android/logo.png" density="mdpi" />
        <icon src="res/screen/android/logo.png" density="hdpi" />
        <icon src="res/screen/android/logo.png" density="xhdpi" />
        <icon src="res/screen/android/logo.png" density="xxhdpi" />
        <icon src="res/screen/android/logo.png" density="xxxhdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
