.home{
 width:100%;
 height: 100%;
 position: fixed;
 top: 0;
 left: 0;
}
.content{
    position: absolute;
    width: 100%;
    height:calc(100% - 50px);
}
.custom-input .van-field__label{
color: white;
}
.custom-input .van-cell__value{
    width:3.2em;
}
.custom-input .van-field__control{
    color:white;
    font-size: 13px;
}
.full-screen{
    width:100%;
    height: 100%;
    position: fixed;
}
.mapboxgl-canvas-container ,.mapboxgl-interactive, .mapboxgl-touch-drag-pan, .mapboxgl-touch-zoom-rotate {
    position: fixed;
    top:0;
    width:100%;
    height: 100%;
}
.suggest-panel .van-icon{
font-size: 20px;
}
.mapboxgl-ctrl-top-left{
    width:100%
}
.pathQueryPoint{
    background-color: rgb(21, 109, 241);
    border-radius: 20px;
    padding:2px 3px;
}
.full {
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  #threeContainer {
    pointer-events: none;
    background: transparent;
  }
