.home{
 width:100%;
 height: 100%;
 position: fixed;
 top: 0;
 left: 0;
}
.content{
    position: absolute;
    width: 100%;
    height:calc(100% - 50px);
}
.custom-input .van-field__label{
color: white;
}
.custom-input .van-cell__value{
    width:3.2em;
}
.custom-input .van-field__control{
    color:white;
    font-size: 13px;
}
.full-screen{
    width:100%;
    height: 100%;
    position: fixed;
}
.mapboxgl-control-container {
    position: fixed;
    top:0;
    width:100%
}